
.metadata/.lock
*.gen
*.index
*.prefs
*.fnm
*.fdx
*.fdt
*.frq
*.nrm
*.tii
.metadata/.log
.metadata/.mylyn/.taskListIndex/segments_1
*.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
*.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1
*.json
*.log
*.xml
*.setup
*.ini
